<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">User Management</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fab fa-teamspeak"></i>
                <p>
                    Team
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="" ahref="/admin/addteam" class="nav-link sendajax">
                        <i class="fas fa-id-badge"></i>
                        <p>
                            Add Team
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" ahref="/admin/viewteam" class="nav-link sendajax">
                        <i class="far fa-eye nav-icon"></i>
                        <p>View Team</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fas fa-crown"></i>
                <p>
                    Customer
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="" ahref="/admin/addcustomer" class="nav-link sendajax">
                        <i class="fas fa-puzzle-piece"></i>
                        <p>
                            Add Customer
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" ahref="/admin/viewcustomer" class="nav-link sendajax">
                        <i class="far fa-eye nav-icon"></i>
                        <p>View Customer</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-header">Catlogue Management</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-leaf"></i>
                <p>
                    Category
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa fa-plus-circle nav-icon"></i>
                        <p>Add Category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa fa-eye nav-icon"></i>
                        <p>View Category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa fa-pencil-alt nav-icon"></i>
                        <p>Edit Category</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tags"></i>
                <p>
                    Product
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="far fa fa-plus-circle nav-icon"></i>
                        <p>Add product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa-eye nav-icon"></i>
                        <p>View Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa fa-pencil-alt nav-icon"></i>
                        <p>Edit Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="far fa fa-minus-circle nav-icon"></i>
                        <p>Delete Product</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tags"></i>
                <p>
                    Tags
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="" ahref="/admin/addtag" class="nav-link sendajax">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>
                            Add Tag
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" ahref="/admin/viewtag" class="nav-link sendajax">
                        <i class="far fa-eye nav-icon"></i>
                        <p>View Tag</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-header">Website Management</li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>
                    Navigation Bar
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>
        </li>

</nav>
<!-- /.sidebar-menu -->